<div class="container">


<div class="card text-center mt-5">
    <div class="card-header">
        <div class="row-sm-2 blog_header">
         Website Developers Team Details
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4  mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Software Developer</h5>
                  <p class="card-text">Full Stack Developer with more than two year experience of Software development having keen interst in 
                Responsive & Business development website and business management tools.</p>
                  <a  class="btn btn-primary">Tanvir pandori</a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6 offset-2 developer_contact">
        <div class = "contact_heading">
            <i class="fa fa-envelope"></i> Email<br><br>
        </div>
        Tanvirpandori@gmail.com <br>
    </div>
    <div class="col-4 developer_contact">
        <div class = "contact_heading">
            <i class="fa fa-envelope"></i> Mobile<br><br>
        </div>
        +1 (647) 879-7087
    </div>

   
</div>
   